In [1]:
import os
import csv
import pandas as pd

In [2]:
schools = os.path.join("pycityschools", "schools_complete.csv")
students = os.path.join("pycityschools", "students_complete.csv")

schools_df = pd.read_csv(schools)
students_df = pd.read_csv(students)

In [3]:
schools_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [4]:
students_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [7]:
# Total Schools
total_schools = schools_df["School ID"].nunique()
total_schools

15

In [8]:
# Total Students
total_students = students_df["Student ID"].nunique()
total_students

# student_name does not work because there are several students with the same name. ID separates them all.

39170

In [9]:
# Total Budget
total_budget = schools_df["budget"].sum()
total_budget

24649428

In [10]:
# Average Math Score
avg_math_score = round(students_df["math_score"].mean(),2)
avg_math_score

78.99

In [11]:
# Average Reading Score
avg_reading_score = round(students_df["reading_score"].mean(),2)
avg_reading_score

81.88

In [12]:
# % Passing Math; assuming passing rate is 70%
pass_math = students_df[students_df["math_score"] >69].count()["student_name"]
percent_pass_math = round((pass_math/total_students)*100,2)
percent_pass_math

74.98

In [13]:
# % Passing Reading; assuming passing rate is 70%
pass_reading = students_df[students_df["reading_score"] >69].count()["student_name"]
percent_pass_reading = round((pass_reading/total_students)*100,2)
percent_pass_reading

# originally went with 60%. Passing numbers were perfect. upped to 75% and applied same logic to math.
# numbers too low for 75% pass. bumped down to 70%

85.81

In [14]:
# % Overall Passing
overall_passing = round((students_df[(students_df['math_score'] >69) & (students_df['reading_score'] >69)]['student_name'].count()/total_students)*100,2)
overall_passing

65.17

In [22]:
# District Summary Table
district_summary = pd.DataFrame({"Total Schools":[total_schools],
                      "Total Students":[total_students],
                      "Total Budget":[total_budget],
                      "Average Math Score":[avg_math_score],
                      'Average Reading Score':[avg_reading_score],
                      "% Passing Math":[percent_pass_math],
                      "% Passing Reading":[percent_pass_reading],
                      "Overall Passing rate":[overall_passing]})

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing rate
0,15,39170,24649428,78.99,81.88,74.98,85.81,65.17

In [24]:
# School Type
school_type = schools_df.set_index(["school_name"])["type"]
school_type

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [32]:
# Create a combined dataframe
merge_df = pd.merge(schools_df, students_df, on="school_name")
merge_df.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [27]:
# Total Students in each school
students_per_school = school_df['school_name'].value_counts()
students_per_school

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [33]:
# School Budgets
school_budgets = merge_df.groupby(["school_name"]).mean()["budget"]
school_budgets

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [34]:
# Per Student Budget
student_budget = school_budgets/students_per_school
student_budget

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [ ]:
# Average Math Score per school

In [ ]:
# Average Reading Score per school

In [ ]:
# % passing math per school

In [ ]:
# % passing reading per school

In [ ]:
# % overall passing rate per school

In [ ]:
# School Summary